.subscribe {
  display: flex;
  background-color: var(--section-bg-color);
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid transparent;
}
.subscribe input {
  outline: none;
  border: 1px solid transparent;
  flex: 1;
  padding: 1.3rem;
  background-color: inherit;
}
.subscribe input:focus {
  border-color: var(--btn-bg-color);
  border-right-color: transparent;
}
.subscribe button {
  padding: 1.3rem 1.6rem;
  border: none;
  background-color: var(--btn-bg-color);
  color: white;
}
