/* Main header css */
.header-area {
  background-color: var(--header-bg-color);
}

/* top header css */
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  border-bottom: 1px solid #f7c60214;
  font-size: 1.1rem;
}
.header-top li {
  display: inline-flex;
  align-items: center;
}
.top-left ul {
  display: flex;
  align-items: center;
}

.top-left li:first-child {
  border-right: 1px solid var(--divider-color);
  padding-right: 1.8rem;
}
.top-left li:last-child {
  padding-left: 1.8rem;
}
.top-left span {
  margin-right: 10px;
}

.top-right,
.top-right ul {
  display: flex;
  align-items: center;
}

.top-right select {
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}
.top-right option {
  color: var(--text-color);
  background-color: var(--option-bg-color);
}
.header-top .icon {
  color: var(--btn-bg-color);
  display: inline-flex;
  align-items: center;
}
.top-right li {
  margin-left: 10px;
}
.social-media-links a {
  /* background-color: red; */
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid var(--btn-bg-color);
}

/* Navbar css */

header {
  display: flex;
  align-items: center;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header ul {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 1.2rem;
}
header li {
  cursor: pointer;
}

.main-navlinks li {
  margin-left: 1rem;
}
.main-navlinks a {
  color: var(--text-color);
  transition: 0.2s ease-in-out;
}
.main-navlinks a:hover {
  color: var(--btn-bg-color);
}

.nav-items-right li {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.theme-icon {
  font-size: 1rem;
}
.main-navlinks a.active {
  color: var(--btn-bg-color);
}
.contact-list a {
  color: var(--text-color);
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .header-top {
    display: none;
  }
  .main-navlinks {
    display: none;
  }
  .desk-login {
    display: none;
  }
  .fixed-header {
    padding-inline: 10px;
  }
}
